//output:index.html, pretty:true

doctype html
html(lang="fr")
    head
        title Walking Robot Editor
        link(rel='stylesheet', href='styles/style.css')
        link(rel='stylesheet', href='styles/font-awesome.css')
        link(rel='stylesheet', href='styles/treeview.css')
    body
        div.topbar
            h2.topbar-title Walking Robot Editor
            div.topbar-right
                a.btn.disabled
                    span.fa.fa-cog
                    | install
                a.btn.disabled
                    span.fa.fa-play
                    | run
        div.content
            div.sidebar
            div#editor.editor
            div.console
                div.console-header 
                    span.fa.fa-terminal
                    | Console
                div.console-arrow(style='right: 5vw') 
                    span.fa.fa-angle-up
                div.console-arrow(style='left: 5vw') 
                    span.fa.fa-angle-up
                    
        
        script(src="bower_components/jquery/dist/jquery.min.js")
        script(src="bower_components/js-cookie/src/js.cookie.js")
        script(src="scripts/ace/ace.js")
        script(src="scripts/ace/ext-modelist.js")
        script(src="scripts/socket.io.js")
        script(src="scripts/treeview.js")
        script(src="scripts/main.js")
